body {

    background-color: #9dc9ff;
    font-family: Roundex;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0%;
}

#inihist {
    background-color: #9dc9ff;
    height: 200vh;
}

@media screen and (min-width: 770px) {
    #inihist {
        background-color: #9dc9ff;
        height: 200vh;
    }
}


@font-face {
    font-family: "Route";
    src:
        local("Route26_Straight"),
        url("../FNT/Route26_Straight.otf") format("opentype");
}

@font-face {
    font-family: "Roundex";
    src: url(../FNT/Roundex.otf) format("opentype");
}

img {
    width: 100%;
}

h1 {
    font-family: "Route";
    text-align: center;
    font-size: 2rem;
    color: #384059;
}

h2 {
    font-family: "Route";
    text-align: left;
    font-size: 1.5rem;
}

h3 {
    font-family: "Roundex";
    text-align: left;
    font-size: 1rem;
    color: #384059;
}

p {
    text-align: left;
    padding-right: 50pt;
    font-size: 0.9rem;
}

main {
    margin-top: 10pt;
    column-gap: 5px;
}

@media screen and (min-width: 770px) {
    main {
        margin: 0%;
        width: 100vw;
    }
}

.titulosab {
    padding: 20pt;
}

#iniop {
    background-color: #FA78B6;
}

.p1 {
    width: 100vw;
    background-image: url(../IMG/iniciofondo1.png);
    position: relative;
    top: 145pt;
    height: 40vh;
    z-index: 2;
}

@media screen and (min-width: 770px) {
    .p1 {
        background-image: url(../IMG/iniciofondo1.png);
        position: relative;
        top: 80pt;
        height: 40vh;
        z-index: 2;
    }
}

.btn-lang {
    width: 20vw;
    position: absolute;
    top: 3vh;
    left: 75vw;
    z-index: 4;
}

@media screen and (min-width: 770px) {
    .btn-lang {
        width: 10vw;
        top: 5vh;
        left: 88vw;
    }
}

.btn-lang:hover {
    transform: scale(1.09);
}

.barra {
    margin: 0%;
    height: 70pt;
    width: 100%;
    background-color: #FA78B6;
    position: fixed;
    top: -10pt;
    z-index: 5;
}

@media screen and (min-width: 770px) {
    .barra {
        height: 75pt;
        background-color: #FA78B6;
        margin-top: -15pt;
        position: fixed;
        z-index: 5;
    }
}

.barra h1 {
    position: relative;
    top: 10pt;
    text-align: left;
    padding-left: 20pt;
}

@media screen and (min-width: 770px) {

    .barra h1 {
        margin-top: 25pt;
        margin-left: 25pt;
        text-align: left;
    }
}

.inicio p {
    text-align: center;
    margin-left: 50pt;
    padding-top: 10pt;
}

.p1 h1 {
    margin-top: -75pt;
}

.vid_intro {
    width: 100vw;
    position: relative;
    top: 25px;
    z-index: 2;
}

@media screen and (min-width: 770px) {

    .vid_intro {
        width: 100vw;
        position: relative;
        top: 100px;
        z-index: 1;
    }

    .p1 {
        background-image: url(../IMG/iniciofondo1.png);
        height: 40vh;
        width: 100vw;
        background-size: contain;
        position: absolute;
        display: block;
        align-content: center;
        z-index: 2;
    }
}

.p2 {
    background-image: url(../IMG/iniciofondo2.png);
    padding-top: 10pt;
    height: 90vh;
    width: 100vw;
    background-size: contain;
    position: relative;
    z-index: 2;

}

@media screen and (min-width: 770px) {

    .p2 {
        background-image: url(../IMG/iniciofondo2.png);
        height: 100vh;
        width: 100vw;
        background-size: contain;
        position: relative;
        z-index: 2;
    }

}


.post {
    margin-left: 30pt;
    left: 10vw;
    width: 35vw;
    background-color: #E6FFFF;
    height: 40vh;
    align-content: end;
    padding-bottom: 30px;
    box-shadow: 10px 10px 0px 1px #b91919;

}

.post h1 {
    font-size: 1.3rem;
}

@media screen and (min-width: 770px) {
    .post {
        position: relative;
        width: 30vw;
        height: 290pt;
    }

    .post h1 {
        font-size: 1.5rem;
    }
}

.rrss-ima {
    margin-left: 10pt;
    width: 30vw;
    position: relative;
}

@media screen and (min-width: 770px) {
    .rrss-ima {
        margin-left: 60pt;
        width: 20vw;
        position: relative;
    }
}

#nov2 {
    position: absolute;
    margin-left: 45vw;
    background-image: url(../IMG/jawbreaker.png);
    top: 70pt;
}

.post a {
    color: #FA78B6;
    margin: 0%;
    text-align: center;
    text-decoration: underline;
    position: relative;
    left: 7pt;
    font-size: 15pt;
    padding: 10pt;
    padding-bottom: 5pt;
}

@media screen and (min-width: 770px) {
    .post a {
        left: 10vw;
    }
}

.post a:hover {
    color: blue;
}

.post:hover {
    transform: scale(1.05);
}

.pj_ini {
    width: 100vw;
    top: -25vh;
    display: flex;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 770px) {
    .pj_ini {
        top: -40vh;
    }
}

.btn {
    width: 20vw;
    height: 11%;
    background-color: #9dc9ff;
    position: absolute;
    align-content: center;
    top: 82%;
    left: 40%;
    z-index: 3;
    border-radius: 10px;
}


.btn h3 {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: -10px;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #b5f5a9;
}

@media screen and (min-width: 770px) {
    .btn h3 {
        text-align: center;
        font-size: 1.2rem;
        padding-bottom: 10px;
        text-decoration: none;
    }
}

.p4h {
    background-color: #cff0ff;
    height: 30vh;
    width: 100vw;
    position: relative;
    top: -25vh;
    display: block;
    z-index: 3;
    border: solid 10px #9dc9ff;
}

@media screen and (min-width: 770px) {
    .p4h {
        position: relative;
        top: -40vh;
    }
}

.btn-dudas a {
    text-decoration: none;
    color: #384059;
    font-size: 15pt;
}

.opciones {
    position: fixed;
    display: flex;
    left: 0%;
    top: 50pt;
    width: 120vw;
    height: 6vh;
    margin: 0%;
    background-color: #9dc9ff;
    z-index: 5;
}

.opciones a {
    margin-left: 30pt;
    margin-bottom: 10pt;
    margin-top: 10pt;
    color: #384059;
}

.opciones a:hover {
    color: #E6FFFF;
}

.dudash {
    display: flex;
    position: relative;
    left: 50pt;
}

.btn-dudas {
    width: 30vw;
    text-align: center;
    border: solid 3px #384059;
    background-color: #E6FFFF;
    padding: 20px;
    margin-left: 8vw;
    box-shadow: 10px 10px 0px 1px #9dc9ff;
}

.btn-dudas:hover {
    transform: scale(1.05);
}

footer {
    padding: 20pt;
    padding-top: 100pt;
    background-color: #FA78B6;
    width: 100vw;
    height: 60vh;
    position: relative;
    bottom: 150pt;
}

footer img {
    position: absolute;
    width: 40%;
    margin-top: -60pt;
}

.ftr {
    margin-top: 75pt;
    position: relative;
    width: 70vw;
    height: 100pt;
}

.ftr a {
    text-decoration: underline;
    color: #384059;
}

@media screen and (min-width: 770px) {
    footer {
        margin-top: -70pt;
        position: relative;
        width: 100vw;
        height: 35vh;
    }
}

footer img {
    position: absolute;
    width: 25%;
    margin-top: -60pt;
}

#hi {
    background-color: #9dc9ff;
}

.hist1 {
    margin-top: 15vh;
    background-color: #bddcff;
    height: 65vh;
    width: 100vw;
    position: relative;
    z-index: 2;
}

.hist1 h1 {
    padding-top: 30pt;
}

@media screen and (min-width: 770px) {

    .hist1 {
        background-color: #bddcff;
        height: 48vh;
        width: 70vw;
        position: relative;
        z-index: 2;
    }
}

.imahist {
    left: 50vw;
    top: -61vh;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 770px) {
    .imahist {
        width: 558pt;
    }

}

@media screen and (min-width: 770px) and (max-width: 1087px) {

    .imahist {
        left: 30vw;
        width: 558pt;
    }

    .hist1 {
        position: S;
        height: 60vh;
        z-index: 3;
    }

}

@media screen and (max-width: 770px) {
    .imahist {
        display: none;
    }

}

.hist1 a {
    text-decoration: underline;
    color: blue;
}

.hist2 {
    position: relative;
    bottom: 30pt;
    margin: 0%;
    width: 100vw;
    margin: 0%;
    z-index: 2;
    text-align: left;
}

@media screen and (min-width: 770px) {
    .hist2 {
        bottom: 400pt;
        padding-top: 0%;
        width: 100vw;
        display: block;
        z-index: 3;

    }
}


.hist2 h1 {
    position: relative;
    margin: 0%;
    margin-bottom: -100pt;
}

@media screen and (min-width: 770px) {
    .hist2 div {
        position: relative;
        width: 100vw;
        height: 120vh;
        margin: 0%;
    }

    .hist2 h1 {
        position: relative;
        margin-top: 10vw;
        z-index: 3;
        padding: 0%;
    }


}

.hist2 div {
    position: absolute;
    align-content: center;
    width: 100vw;
    margin: 0%;
}



.rby {
    position: relative;
    top: 150pt;
    background-color: #bddcff;
    border-radius: 10pt;
    background-blend-mode: screen;
    margin-left: 15pt;
    padding: 20pt;
    padding-left: 10pt;
    width: 80vw;
    height: 40vh;
}

@media screen and (min-width: 770px) {

    .rby {
        margin-left: 15pt;
        background-color: #bddcff;
        border-radius: 10pt;
        background-blend-mode: screen;
        margin: 15pt;
        padding: 20pt;
        padding-left: 10pt;
        width: 40vw;
        height: 45vh;
    }

}

.rby p {
    margin: 0%;
    position: relative;
    bottom: 30vh;
    left: 45%;
    width: 40%;
}

@media screen and (min-width: 770px) {
    .rby p {
        margin: 0%;
        position: relative;
        bottom: 20vh;
        left: 45%;
        width: 40%;
    }

}

.rby img {
    position: relative;
    top: 20pt;
    width: 45%;
}

.sty {
    position: relative;
    background-color: #bddcff;
    border-radius: 10pt;
    background-blend-mode: screen;
    margin: 15pt;
    margin-top: 250pt;
    padding: 20pt;
    padding-left: 10pt;
    width: 80vw;
    height: 40vh;
}

@media screen and (min-width: 770px) {

    .sty {
        bottom: 150pt;
        left: 50vw;
        background-color: #bddcff;
        border-radius: 10pt;
        background-blend-mode: screen;
        margin: 15pt;
        padding: 20pt;
        padding-left: 10pt;
        width: 40vw;
        height: 45vh;
    }

}

.sty p {
    margin: 0%;
    position: relative;
    bottom: 30vh;
    left: 45%;
    width: 40%;
}

@media screen and (min-width: 770px) {
    .sty p {
        margin: 0%;
        position: relative;
        bottom: 20vh;
        left: 45%;
        width: 40%;
    }

}

.sty img {
    position: relative;
    top: 20pt;
    width: 45%;
}

#his {
    position: relative;
    top: 140vh;
}

@media screen and (min-width: 770px) {

    #his {
        position: relative;
        top: 20vh;
    }

}

#fhist {
    position: relative;
    bottom: -140vh;
}


@media screen and (min-width: 770px) {

    #fhist {
        position: relative;
        bottom: -27vh;

    }

}